// This file contains COLORS ONLY.  Not even fonts.

// COLORS
// color variables defined here (name denotes color)
$rose: #fdd;
$red: red;
$brown: #400;
$blue: blue;

// MAIN
// define variables for use in application (name denotes purpose)
$backdrop-color: $rose;
$highlight-color: $red;
$text-color: $brown;
$outline-color: $blue;
